.style {
  color: #004e7c;
  font-size: 18px;
  /* font-family: Bahnschrift; */
}

#heading {
  font-size: 40px;
  /* font-family:Bahnschrift ; */
}

.style,
#heading {
  font-family: Bahnschrift;
}

.uppercase {
  font-family: cursive;
  text-transform: uppercase;
}

#heading:hover {
  color: gold;
}

.uppercase:hover{
  color: brown;
}

.cold{
  filter:brightness(70%) contrast(150%) saturate(0%) brightness(150%);
}
